Body {
  background-color: indigo;
}

.App_header {
  font-size: 28px;
  margin: 10px;
  background-color: black;
  text-shadow: 3px 3px purple;
  text-align: center;
  border-radius: 10px;
}
.App_header a {
  color: yellow;
  text-decoration: inherit;
  border-radius: 10px;
}

.App_nav {
  margin: 10px 0;
  /* padding: 1px;
  background-color: white;
  border-radius: 10px; */

}

.App_main {
  /* color: yellow; */
  background-color: gray;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

@media all and (min-width: 800px){
  .App {
    max-width: 800px;
    margin: auto;
  }  
}